vc: '{{ vc_address }}' 
vc_username: '{{ vc_user }}' 
vc_password: '{{ password }}' 
datacenter_name: 'dc01' 
cluster_name: 'vsan-cluster-01' 
network_name: 'dvpg-vds01-vlan-1012' 
static_enabled: true
reuse_vm: false
datastore_name: 
- 'vsanDatastore-01' 
deploy_on_hosts: false
hosts: 
host_username: 
host_password: 
easy_run: false
clear_cache: false
number_vm: 2 
number_data_disk: 2 
size_data_disk: 10 
self_defined_param_file_path: '/opt/tmp/tmp20180210220425' 
output_path: 'TEST_vsan-cluster-01_case-101' 
warm_up_disk_before_testing: 'NONE' 
testing_duration:  
cleanup_vm: false
